<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554040758392-rpu17ec64t1qsj4un5ln7uh0klr5a2uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554040758392-rpu17ec64t1qsj4un5ln7uh0klr5a2uf</string>
	<key>API_KEY</key>
	<string>AIzaSyAM_SmDNs0nnn61QLF7NBSGDlX6nMKSh_g</string>
	<key>GCM_SENDER_ID</key>
	<string>554040758392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bytx.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-960c6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-960c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554040758392:ios:93c36d6393cfbbb3605d8d</string>
</dict>
</plist>